<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear centro escolar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container col-md-6">
    <br>
    <div class="jumbotron">
        <h1>Crear centro escolar</h1>
        <form method="post" th:action="@{/saveEscuela}" th:object="${escuela}">
            <div class="form-group">
                <label class="col-form-label">Nombre: </label>
                <input type="text" class="form-control"  placeholder="Ingrese el nombre" th:field="*{nombre}">
                <span th:errors="*{nombre}" style="color:#E81505"></span>
                <p th:text="${mensaje}" style="color:#E81505"></p>
                <label class="col-form-label">Departamento: </label>
                <select th:field="*{municipio.departamento.idDepartamento}" class="custom-select" id="departamentoSelect">
                    <option value="0">- Seleccione un departamento -</option>
                    <option th:each="d: ${departamento}"  th:value="${d.idDepartamento}"
                            th:text="${d.nombre}"></option>
                </select>
                <span th:if="${errorDepartamento}" style="color:#E81505" th:text="${errorDepartamento}"></span><br>

                <label class="col-form-label">Municipio: </label>
                <select class="custom-select" th:field="*{municipio.idMunicipio}" id="municipioSelect">
                    <option value="0">- Seleccione un municipio -</option>
                </select>
                <span th:if="${errorMunicipio}" style="color:#E81505" th:text="${errorMunicipio}"></span><br>

                <div class="form-group">
                    <label class="col-form-label">Estado</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" class="custom-control-input"  name="estado" th:value="${true}" th:checked="true">
                        <label class="custom-control-label" for="customRadio1">Activo</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2"  class="custom-control-input" name="estado" th:value="${false}">
                        <label class="custom-control-label" for="customRadio2">Inactivo</label>
                    </div>
                </div>
            </div>
            <div class="btn-group mr-4" role="group" aria-label="Third group">
                <input type="submit" class="btn btn-primary" value="Crear"/>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <a class="btn btn-warning" href="/escolares">Regresar</a>
            </div>
        </form>
    </div>
</div>
</body>
<script src="js/selectores.js"></script>
</html>