<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear materia</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1> Nueva materia</h1>
<form method="post" th:action="@{/saveEscuela}" th:object="${escuela}">
    <label>Descripcion: <input type="text" id="descripcion" th:field="*{nombre}" ></label><br>

    <label>Departamento: </label>
    <select id="departamentoSelect">
        <option value="0"> - Seleccione un departamento - </option>
        <option th:each="d: ${departamento}"  th:value="${d.idDepartamento}"><th th:text="${d.nombre}"></th></option>
    </select><br><br>

    <label>Municipio: </label>
    <select th:field="*{municipio.idMunicipio}" id="municipioSelect">
        <option value="0"> - Seleccione un municipio - </option>
    </select><br><br>
    <label>Estado: </label>
    <input type="checkbox" class="" th:field="*{estado}" th:value = "${true}"><br>
    <input type="submit" value="Crear">
</form>
</body>
<script>
    $("select#departamentoSelect").change(function() {
        let departamentoValue = $("#departamentoSelect").val();
        $.ajax({
            url: '/municipios?id=' + departamentoValue,
            method: 'GET',
        }).done(
            function (municipios) {
                console.log(municipios)
                let stateSelect = $('#municipioSelect');
                stateSelect.find('option').remove();
                stateSelect.append("<option value=0 > - Seleccione un municipio - </option>")
                for (let i = 0; i < municipios.length; i++) {
                    stateSelect.append("<option value=" + municipios[i].idMunicipio + " >" + municipios[i].nombre + "</option>")
                }
            }).fail(
            function() {
            }
        )
    })
</script>
</html>