<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
    <link href="css/personalizado.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

            <div th:if="${param.error}" class="alert alert-dismissible alert-danger mt-5 text-center">
                <strong>Oh no!  Credenciales incorrectas.</strong>
            </div>

            <div th:if="${param.logout}" class="alert alert-dismissible alert-danger mt-5 text-center">
                <strong>Se ha cerrado sesion.</strong>
            </div>

            <div th:if="${param.actividad}" class="alert alert-dismissible alert-danger mt-5 text-center">
                <strong>Tu cuenta se encuentra inactiva </strong><i class="fa fa-frown-o ml-2"></i>
            </div>

            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Iniciar sesión</h5>
                    <form class="form-signin" method="post" th:action="@{/login}">
                        <div class="form-label-group">
                            <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required autofocus>
                            <label for="username">Nombre de usuario</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password"  name="password" id="password" class="form-control" placeholder="Contraseña" required>
                            <label for="password">Contraseña</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar sesión</button>
                        <hr class="my-4">
                        <a class="btn btn-lg btn-google btn-block text-uppercase" href="/registroUsuario"> Registrarse </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>