<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear materia</title>
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container col-md-6">
    <br>
    <div class="jumbotron">
	<h1>Guardar Materia</h1>
	<form method="post" th:action="@{/saveMat}" th:object="${materia}">
		<div class="form-group">
			
<br>
                
		<label  class="mdb-select md-form">Catalogo de materias: </label> 
		<select th:field="*{catalogo_materias.id_catmateria}" class="form-control">
			<option th:each="im: ${catMaterias}" th:value="${im.id_catmateria}"><th th:text="${im.nombre}" class="form-control"  placeholder="Ingrese el nombre"></th></option>

		<br> <br>
		<label  class="col-form-label">Año: <br> <input  class="form-control" placeholder="Ingrese el año" type="number" id="anio" th:field="*{anio}" ></label><br>
		<span th:errors="${materia.anio}" style="color:  #E81505;"></span><br>
		
				
		<label  class="mdb-select md-form">Ciclo: </label> <br>
		<select th:field="*{ciclo}" class="form-control">
			<option th:value="1"  ><th class="text-center" th:text="01"></th></option>
			<option th:value="2" ><th class="text-center" th:text="02"></th></option>
			<option th:value="1" ><th class="text-center" th:text="03"></th></option>
		</select>
		<br>
		<label class="col-form-label">Nota: <br> <input class="form-control"  placeholder="Ingrese la nota" type="number" id="nota" th:field="*{nota}" ></label><br>
		<span th:errors="${materia.nota}" style="color:  #E81505;"></span>
		 </div>
			
		
			<div class="btn-group mr-4" role="group" aria-label="Third group">
                <input type="submit"class="btn btn-info mb-4" value="Crear"/>
            </div>
            
            <div class="btn-group" role="group" aria-label="Third group">
                <a class="btn btn-info mb-4"th:href="@{'/materiaEstudiante?id=' + ${aux}}">Regresar</a>
            </div>
		
	
	</form>
  </div>
</div>
</body>
</html></html>