<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container col-md-6">
    <br>
    <div th:if="${error}" class="alert alert-dismissible alert-danger">
        <strong>Oh no!</strong> Ese usuario ya existe.
    </div>
    <div class="jumbotron">
        <h1 th:text="${titulo}"></h1>
        <form method="post" th:action="@{'/'+${ruta}}" th:object="${usuario}">
            <div class="form-group">
                <label class="col-form-label">Nombre</label>
                <input type="text" class="form-control"  placeholder="Ingrese el nombre" th:field="*{nombre}">
                <span th:errors="*{nombre}" style="color:#E81505"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Apellido</label>
                <input type="text" class="form-control" placeholder="Ingrese el apellido" th:field="*{apellido}">
                <span th:errors = "*{apellido}" style= "color:#E81505"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Fecha de nacimiento</label>
                <input type="text" class="form-control" id="fechaNacimiento" placeholder="Ingrese la fecha" th:field="*{fechaNacimiento}">
                <span th:errors = "*{fechaNacimiento}" style= "color:#E81505"></span>
                <script type="text/javascript">
                    $(function () {
                        $('#fechaNacimiento').datepicker({
                            format: 'dd/mm/yyyy'
                        });
                    });
                </script>
            </div>
            <div class="form-group">
                <label class="col-form-label">Departamento</label>
                <th>
                    <select th:field="*{municipio.departamento.idDepartamento}" id="departamentoSelect" class="custom-select">
                        <option value="0">- Seleccione un departamento -</option>
                        <option th:each="d: ${departamento}" th:value="${d.idDepartamento}" th:text="${d.nombre}">
                        </option>
                    </select>
                    <span th:if="${errorDepartamento}" style="color:#E81505" th:text="${errorDepartamento}"></span><br>
                </th>
            </div>
            <div class="form-group">
                <label class="col-form-label">Municipio</label>
                <th>
                    <select class="custom-select" id="municipioSelect" th:field="*{municipio.idMunicipio}">
                        <option value="0">- Seleccione un municipio -</option>
                    </select>
                    <span th:if="${errorMunicipio}" style="color:#E81505" th:text="${errorMunicipio}"></span><br>
                </th>
            </div>

            <div class="form-group">
                <label class="col-form-label">Direccion</label>
                <input type="text" class="form-control" placeholder="Ingrese la direccion" th:field="*{direccion}">
                <span th:errors = "*{direccion}" style= "color:#E81505"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Nombre de usuario</label>
                <input type="text" class="form-control" placeholder="Ingrese el nombre de usuario" th:field="*{nombre_usuario}">
                <span th:errors = "*{nombre_usuario}" style= "color:#E81505"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Contraseña</label>
                <input type="text" class="form-control" placeholder="Ingrese la contraseña" th:field="*{contrasenia}">
                <span th:errors = "*{contrasenia}" style= "color:#E81505"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Rol</label>
                <th>
                    <select class="custom-select" th:field="*{rol.idRol}">
                        <option th:each="r: ${rol}" th:value="${r.idRol}" th:text="${r.nombre}">
                        </option>
                    </select>
                </th>
            </div>
            <div th:if="${edit}" class="form-group">
                <label class="col-form-label">Estado</label>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="estado" class="custom-control-input" th:value="${true}" th:checked="true">
                    <label class="custom-control-label" for="customRadio1">Activo</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="estado" class="custom-control-input" th:value="${false}">
                    <label class="custom-control-label" for="customRadio2">Inactivo</label>
                </div>
            </div>
            <div class="btn-toolbar mt-5" role="toolbar">
                <div class="btn-group mr-5" role="group" aria-label="Second group">
                    <input type="submit" class="btn btn-primary btn-lg" value="Guardar"/>
                </div>
                <div class="btn-group mr-5" role="group" aria-label="Third group">
                    <a class="btn btn-warning btn-lg" th:href="@{'/'+${url}}"><span th:text="${btn}"></span></a>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
<script src="js/selectores.js"></script>
</html>