<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogo Usuarios</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/tablas.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Expediente</h1>
    <br>
    <form method="post" th:action="@{/search}">
        <div class="form-group">
            <label class="col-form-label">Buscar por: </label>
            <select class="custom-select" th:name="opcion">
                <option value="0">- Seleccione una opcion para filtrar -</option>
                <option value="nombre" ><th th:text="Nombre"></th></option>
                <option value="apellido" ><th th:text="Apellido"></th></option>
            </select> <br>
            <label class="col-form-label">Valor de busqueda: </label>
            <input type="text" class="form-control"  placeholder="Ingrese el valor a buscar" name="valor">
            <div class="btn-group mr-4" aria-label="Third group">
                <input type="submit" class="btn btn-primary" value="Buscar"/>
            </div>
        </div>
    </form>
    <br>
    <h2>Listado de estudiates</h2>
    <section>
        <table class="table table-hover">
            <thead>
            <tr class="table-dark">
                <th class="text-center">Accion</th>
                <th class="text-center">Nombres</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Aprobadas</th>
                <th class="text-center">Reprobadas</th>
                <th class="text-center">Promedio</th>
            </tr>
            </thead>
            <th:block th:each="m : ${expedientes}">
                <tr>
                    <th class="text-center"><a th:href="@{'/updateExpediente?id=' + ${m.idEstudiante}}"><i style="padding-right: 1em" class="fa fa-search-plus"></i></a>
                                            <a th:href="@{'/materiaEstudiante?id=' + ${m.idEstudiante}}"><i class="fa fa-pencil-square-o"></i></a></th>
                    <th th:text="${m.nombres}" class="text-center"></th>
                    <th th:text="${m.apellidos}" class="text-center"></th>
                    <th th:text="${m.aprovadas}" class="text-center"></th>
                    <th th:text="${m.reprovadas}" class="text-center"></th>
                    <th th:text="${m.promedio}" class="text-center"></th>
                </tr>
            </th:block>
        </table>
    </section>
    <div class="btn-group" role="group" aria-label="Third group">
        <a class="btn btn-warning mt-4 ml-4" href="#">Regresar</a>
    </div>
</div>
</body>
</html>